

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    height: 100vh;
  }
  
  header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  height: 20%;
  }

  

  .logo img{
    width: 8%;
    object-fit: contain;
  }

  
  main{
    background-color: rgb(127, 255, 213);
    height: 70%;
  }
  
  
  
  #grid-cnt{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: 0 auto;
    
  
  }

 
  
  .square-100{      
    width: calc( 100% / 10 );
    border: 1px solid black;
    aspect-ratio: 1/1;
    
  }

  .square-81{      
    width: calc( 100% / 9 );
    border: 1px solid black;
    aspect-ratio: 1/1;
    
  }


  .square-49{      
    width: calc( 100% / 7 );
    border: 1px solid black;
    aspect-ratio: 1/1;
    
  }


  
  .active {
    background-color: lightgreen;
  }
  
  footer{
    width: 80%;
    margin: 0 auto;
    align-items: center;
    height: 10%;
  }