

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    height: 100vh;
  }
  
  header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  height: 10%;
  }
  
  main{
    height: 80%;
  }
  
  
  
  #grid-cnt{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: 0 auto;
    
  
  }
  
  .square{      
    width: calc( 100% / 10 );
    border: 1px solid black;
    aspect-ratio: 1/1;
    
  }
  
  .active {
    background-color: lightgreen;
  }
  
  footer{
    background-color: brown;
    height: 10%;
  }