*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#griglia{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.quadrato{
    border: 1px  solid  black;
    width: calc(100%/8);
    aspect-ratio: 1/1;
}